<html>
<head>
    <!-- Vue.js -->
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="example-1">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Number</th>
            <th>クリアするまでかかった秒数</th>
        </tr>
        </thead>
        <tbody>
        <!-- 各要素を表示 -->
        <tr v-for="(elem, index) in elements">
            <td>{{ index }}</td>
            <td>{{ elem }}秒</td>
            <!-- クリックして要素を削除 -->
        </tr>
        </tbody>
    </table>
    <template v-if="this.status === 'practice'">
        <button v-on:click="append()">Next Number</button>
        <p>Next Number is {{ nextNumber }}</p>
    </template>
    <template v-else>
        <button v-on:click="reset()">Reset</button>
    </template>
</div>
<script type="text/javascript">
    var example1 = new Vue({
        el: '#example-1',
        data: {
            counter : 0,
            elements: {},
            number: [],
            time : new Date(),
            beforeNumberTime : null,
            nextNumber : null,
            statusList: ['practice', 'reset'],
            status: null,
            maxNumber: 20
        },
        created: function () {
          this.status = this.statusList[0]
          this.nextNumber = this.maxNumber
          this.number = [...Array(this.maxNumber).keys()].map(i => ++i).reverse()
          this.number.forEach(v => {
            this.elements[v] = "-"
          })
          console.log(this.elements)
        },
        methods: {
            append: function() {
                //前回実行時の時間から引き算
                this.elements[this.number[this.counter]] = Math.floor((new Date() - this.time) / (1000));
                // クリック時の現在の時刻を格納
                this.time = new Date();
                this.counter += 1;
                this.nextNumber = this.number[this.counter];
                if(this.counter === this.maxNumber){
                    this.status = this.statusList[1]
                }
            },
            reset: function(){
                location.reload();
            }
        }
    })
</script>
</body>
</html>
